falcon
falcon_cors
gunicorn
psycopg2-binary>=2.8
SQLAlchemy
bcrypt
shortuuid
cryptography
cerberus
loguru~=0.5.1
celery
flower
eth-account
gql==3.0.0a1
jsonschema
requests
python-dateutil
redis
falcon_auth
web3==5.7.0
